<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/vendor"></ion-back-button>
    </ion-buttons>
    <ion-title>Pengajuan Penawaran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-wrapper">
    <div class="form-header">
      <h3>Tender: {{ tenderTitle }}</h3>
      <p>Langkah 2 dari 3: Unggah Dokumen Pendukung</p>
    </div>

    <ion-list>
        <ion-item>
            <ion-label>Dokumen Administrasi</ion-label>
            <input type="file" (change)="handleFileInput($event, 'administrasi')"/>
        </ion-item>
        <ion-item>
            <ion-label>Dokumen Teknis</ion-label>
            <input type="file" (change)="handleFileInput($event, 'teknis')"/>
        </ion-item>
    </ion-list>

    <ion-button expand="block" (click)="goToNextStep()" class="ion-margin-top" [disabled]="!bidData.administrative_document || !bidData.technical_document">
      Lanjut ke Penawaran Harga
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
