<ion-content class="ion-padding halaman-utama-atasan">
  <div class="dashboard-container">
    <h2>Dashboard Atasan</h2>
    <p>Apa yang ingin Anda lakukan hari ini?</p>

    <div class="button-grid">
      <div class="menu-card" routerLink="/verifikasi">
        <ion-icon name="checkmark-done-circle-outline"></ion-icon>
        <span>Verifikasi</span>
      </div>

      <div class="menu-card" routerLink="/rekap">
        <ion-icon name="bar-chart-outline"></ion-icon>
        <span>Rekap</span>
      </div>
    </div>

    <ion-button expand="block" color="medium" class="logout-button" routerLink="/login">
      LOGOUT
    </ion-button>
  </div>
</ion-content>
