<ion-content>
  <div class="container">
    <div class="header-segment">
      <ion-segment value="login">
        <ion-segment-button value="login">
          <ion-label>LOGIN</ion-label>
        </ion-segment-button>
        <ion-segment-button value="register" (click)="goToRegister()">
          <ion-label>REGISTER</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div class="form-title">
      <ion-icon name="log-in-outline" color="primary"></ion-icon>
      <h2>LOG IN TO AN ACCOUNT</h2>
      <p>Sign in to your already existing account</p>
    </div>

    <div class="form-inputs">
      <ion-item class="input-item" lines="none">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <!-- PERBAIKAN: Menggunakan credentials.email -->
        <ion-input [(ngModel)]="credentials.email" type="email" placeholder="E-mail Address"></ion-input>
      </ion-item>
      <ion-item class="input-item" lines="none">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <!-- PERBAIKAN: Menggunakan credentials.password -->
        <ion-input [(ngModel)]="credentials.password" type="password" placeholder="Password"></ion-input>
      </ion-item>
    </div>

    <ion-button class="main-button" expand="block" (click)="onLogin()">LOGIN</ion-button>
  </div>
</ion-content>
