<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start"><ion-back-button defaultHref="/halamanutama"></ion-back-button></ion-buttons>
    <ion-title>Riwayat Tender</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-card *ngFor="let tender of tenders">
      <ion-card-header>
        <ion-card-title>{{ tender.title }}</ion-card-title>
        <ion-card-subtitle>No: {{ tender.tender_number }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{ tender.description }}</p>
        <ion-chip color="primary">{{ tender.status | titlecase }}</ion-chip>
        <ion-note slot="end">Deadline: {{ tender.submission_deadline | date:'medium' }}</ion-note>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>