ion-content {
  --background: #f8fafc;
}

.header-section {
  margin-bottom: 1.5rem;
  h2 {
    font-weight: 700;
    font-size: 1.6rem;
    color: #1e293b;
  }
  p {
    color: #64748b;
  }
}

.tender-card {
  margin: 0 0 1rem 0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  --background: #ffffff;
  border-left: 5px solid var(--ion-color-primary);
}

ion-card-header {
  padding-bottom: 8px;
  ion-card-title {
    font-weight: 600;
    font-size: 1.2rem;
  }
  ion-card-subtitle {
    font-size: 0.8rem;
  }
}

ion-card-content {
  .description {
    color: #475569;
    margin-bottom: 1rem;
    padding-top: 0;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e2e8f0;
    padding-top: 1rem;

    ion-chip {
      font-size: 0.8rem;
    }
  }
}

.empty-state {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--ion-color-medium);
    text-align: center;
    ion-icon { font-size: 5rem; }
    h3 { margin-top: 1rem; font-weight: 600; }
    p { max-width: 250px; }
}
