<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/halaman-utama-karyawan"></ion-back-button>
    </ion-buttons>
    <ion-title>Buat Pengajuan Baru</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-wrapper">
    <div class="form-header">
      <h2>Form Pengajuan</h2>
      <p>Silakan isi data permintaan dengan lengkap.</p>
    </div>

    <ion-input
      label="Judul Pengajuan"
      labelPlacement="floating"
      fill="solid"
      class="custom-input"
      placeholder="Contoh: Kebutuhan ATK Bulan Juli"
      [(ngModel)]="request.title">
    </ion-input>

    <ion-textarea
      label="Alasan Kebutuhan"
      labelPlacement="floating"
      fill="solid"
      class="custom-input"
      placeholder="Jelaskan tujuan pengajuan ini"
      [(ngModel)]="request.reason">
    </ion-textarea>

    <h3 class="items-header">Daftar Barang</h3>

    <ion-card *ngFor="let item of request.items; let i = index; let isFirst = first">
      <ion-card-content>
        <ion-input
          label="Nama Barang"
          labelPlacement="floating"
          fill="solid"
          class="custom-input"
          [(ngModel)]="item.item_name">
        </ion-input>
        
        <ion-textarea
          label="Spesifikasi"
          labelPlacement="floating"
          fill="solid"
          class="custom-input"
          [(ngModel)]="item.specification">
        </ion-textarea>
        
        <ion-input
          label="Jumlah"
          labelPlacement="floating"
          fill="solid"
          class="custom-input"
          type="number"
          [(ngModel)]="item.quantity">
        </ion-input>

        <ion-button fill="clear" color="danger" size="small" (click)="removeItem(i)" *ngIf="!isFirst">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
          Hapus Barang
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" fill="outline" (click)="addItem()">
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      Tambah Barang Lain
    </ion-button>
  </div>
</ion-content>

<ion-footer class="ion-padding-horizontal ion-padding-bottom">
  <ion-button expand="block" size="large" (click)="submitRequest()">
    <ion-icon name="paper-plane-outline" slot="start"></ion-icon>
    Kirim Pengajuan
  </ion-button>
</ion-footer>