<ion-content class="ion-padding halaman-utama-karyawan">
  <div class="dashboard-container">
    <h2 class="title">Dashboard Karyawan</h2>
    <p class="subtitle">Apa yang ingin Anda lakukan hari ini?</p>

    <div class="card-grid">
      <div class="menu-card" routerLink="/pengajuan-permintaan">
        <ion-icon name="document-outline"></ion-icon>
        <span>Pengajuan Permintaan</span>
      </div>

      <div class="menu-card" routerLink="/status-pengajuan">
        <ion-icon name="sync-outline"></ion-icon>
        <span>Status Pengajuan</span>
      </div>

      <div class="menu-card" routerLink="/riwayat-permintaan">
        <ion-icon name="time-outline"></ion-icon>
        <span>Riwayat Permintaan</span>
      </div>
    </div>
  </div>
</ion-content>
