<ion-header>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">Kelola Pengadaan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="wrapper">
    <div class="judul-section">
      <h2>Permintaan yang Disetujui</h2>
    </div>

    <div class="card-container">
      <ion-card *ngFor="let item of permintaanDisetujui" class="custom-card">
        <ion-card-header>
          <ion-card-title class="title">{{ item.namaBarang }}</ion-card-title>
          <ion-card-subtitle class="subtitle">{{ item.tanggal }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Jumlah: {{ item.jumlah }}</p>
          <p>Status: <strong>{{ item.status }}</strong></p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
