<ion-header>
  <ion-toolbar>
    <ion-title>Rekap Pengajuan Bawahan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let laporan of dataRekap">
      <ion-label>
        <h2>{{ laporan.tim }}</h2>
        <p><strong>Permintaan:</strong> {{ laporan.permintaan }}</p>
        <p><strong>Status:</strong> 
          <ion-badge [color]="getWarnaStatus(laporan.status)">
            {{ laporan.status }}
          </ion-badge>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
