<ion-header>
  <ion-toolbar>
    <ion-title>Rekap Pengajuan Bawahan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding halaman-rekap">
  <div class="rekap-container">
    <h2 class="title">Data Rekapitulasi</h2>

    <div *ngFor="let laporan of dataRekap" class="rekap-card">
      <div class="rekap-info">
        <h3>{{ laporan.tim }}</h3>
        <p><strong>Permintaan:</strong> {{ laporan.permintaan }}</p>
        <p><strong>Status:</strong>
          <ion-badge [color]="getWarnaStatus(laporan.status)">
            {{ laporan.status }}
          </ion-badge>
        </p>
      </div>
    </div>
  </div>
</ion-content>
