<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Lupa Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <h3>Reset Password Anda</h3>
    <p>Masukkan email Anda, kami akan mengirimkan link untuk reset password.</p>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="requestReset()" class="ion-margin-top">
      Kirim Link Reset
    </ion-button>
  </div>
</ion-content>