<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- Tombol kembali yang fungsional -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="auth-container">
    
    <!-- Bagian Header -->
    <div class="auth-header fade-in-down">
      <h2>Lupa Password?</h2>
      <p>Masukkan email Anda untuk mendapatkan link pemulihan.</p>
    </div>

    <!-- Form Input -->
    <form (ngSubmit)="submitRequest()" class="fade-in-up" style="animation-delay: 0.2s;">
      <div class="form-container">
        <ion-item lines="none">
          <ion-label position="stacked">Alamat E-mail</ion-label>
          <ion-input [(ngModel)]="email" name="email" type="email" placeholder="contoh@email.com" required (ionInput)="errorMessage = ''"></ion-input>
        </ion-item>
      </div>

      <!-- Tampilkan pesan error jika ada -->
      <ion-text color="danger" *ngIf="errorMessage">
        <p class="error-message">{{ errorMessage }}</p>
      </ion-text>

      <!-- Tombol Aksi -->
      <ion-button class="main-button fade-in-up" expand="block" type="submit" [disabled]="isLoading" style="animation-delay: 0.3s;">
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        <span *ngIf="!isLoading">Kirim Link Reset</span>
      </ion-button>
    </form>

  </div>
</ion-content>
